@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400&family=Roboto+Mono:ital,wght@1,600&display=swap');

/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #112E51

}

 */

body {
    width: 100%;
    height: 200vh;
    color:floralwhite !important;
    background-image: url("images/waldemar-brandt-WAchuh1Gc-0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}


img {
    vertical-align: middle;
    border: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 150px;
}


li, a, button{
    font-family: "Playfair", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255,255,255);
    text-decoration: none;
}

button {
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .05s ease 0s;
}

footer {
    width: 100%;
    background-color: blue;
    border: solid 1px black;
}

button:hover{
    background-color: rgba(255,255,255,0.8);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.cropped_img {
    width: 200px;
    height: 130px;
    margin: -10px 0px 0px -150px;
    overflow: hidden;

}

.nav_connections {
    list-style: none;
    font-size: 24px;

}

.nav_connections li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_connections li a{
    text-decoration: none;
    transition: all .05s ease 0s;
    color: rgb(255,255,255);
}

.nav_connections li a:hover{
    color: gold;
}


.container_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    width: 70%;
    margin: auto;
}

.container_reduced_for_weekly{
    width: 600px;
    height: 50px;
    margin: auto 5px 5px 5px;
    justify-content: center;
    text-align: center;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}


.canvas_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 640px;
    border: solid 5px white;
}

.img_fit {
    max-width: 100%;
    object-fit: fill;
}

.logo_alignment{
    display: block;
    margin: 20px auto;
}

.center_align {
    margin: auto;
    width: 70%;
    height: 180vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border: solid 1px black;
}

.divider {
    width: 100%;
    hieght: 50px;
    padding: 50px;

}

.intro_info {
    width: 100%;
    height: 100%;
    marign: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.container_center_body {
    width: 100%;
    height: 20vh;
    outline: dashed 1px black;
    position: relative;
    background-color: white;
}

.caption_section_label{
    font-size: 24px;
    left: 40%;
    top: 60px;
    position: absolute;
    background-color: white;
    color: black;

}

.caption_character_length {
    bottom: 10px;
    color: #999999;
    font-size: 24px;
    line-height: 1.6;
    position: absolute;
    right: 15px;
    background-color: white;
}

.submit_btn {
    padding: 10px 25px;
    background-color: gold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .05s ease 0s;
    width: 100%;
    height: 7vh;
}
/*
.input_design {
    background-color: white;
    border:none;
    width: 820px;
    height: 240px;
    text-align: center;
}
*/

.input_design {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    display: block;
    height: 260px;
    line-height: 1.19;
    padding: 46px 20px 0;
    resize: none;
    text-align: center;
    width: 750px;
}
.center_spacing {
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Login Drop Down */

/* -------------------------------------------------------->> */

.div_box {
    width: 100%;
    height: 5vh;
    border: solid 2px white;
}


.box #nav_list{
    margin:0;
    padding:0;
    background: #112E51;
    overflow: hidden;
}

.box #nav_list li{
    display: inline-block;
    list-style: none;
    padding: 15px;
    transition: all ease-in-out .2s;

}

#nav_list a{
    color:white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding-right: 30px;
}

.box #nav_list i{
    font-size: 35px;
    padding: 0;
    color: white;
    position: absolute;
    margin: 8px;
}

.home{
    padding-left: 40px;
}

.box #nav_list li:hover{
    background:black;
}



#login_form {
    width: 350px;
    padding: 25px;
    margin-left: auto;
    background-color: gold;
    text-align: center;
    position: relative;
    transition: all ease-in-out .2s;
    top: -415px;
}

#login_form h1{
    margin-top: 0;
    color: white;
}

#login_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#login_list .txt{
    height: 25px;
    width: 250px;
    margin-bottom: 20px;
    padding: 3px 2px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
}

#login_list .button{
    width: 150px;
    height: 30px;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    background-color: gold;
    cursor: pointer;
}

#login_from a{

}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: gold;
}

label #btn{
    right: 2pc;
    top: 20px;
    font-size: 24px;
    color: white;
    padding: 6px  10px;
    transition: all .2s ease;
}

label #cancel{
    z-index: 1111;
    right: 1pc;
    top: -30px;
    font-size: 24px;
    color: white;
    padding: 3px 9px;
    transition: all .2s ease;
}

#check:checked ~ #login_form{
    top: 0;
}
#check:checked ~ label #btn{
    right: 0;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    top: 0;
}

/*  --------------------  */


.background{
    background-image: url("images/joshua-hoehne-YPgTovTiUv4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 190vh;
}

/* Full Screen dividers for spacing */

.blue_divider{
    width: 75%;
    height: 50vh;
    background-color: dodgerblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.white_divider{
    width: 100%;
    height: 50vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.transparent_divider_reduced{
    width: 70%;
    height: 70vh;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.transperent_divider_reduced{
    width: 70%;
    height: 30vh;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

/* ----------------------------------------- */


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
