@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400&family=Roboto+Mono:ital,wght@1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #112E51

}

body {
    color:floralwhite !important;
    margin: 0;
}


img {
    vertical-align: middle;
    border: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border: solid 5px white ;
}

li, a, button{
    font-family: "Playfair", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255,255,255);
    text-decoration: none;
}

button {
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .05s ease 0s;
}

footer {
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    border: solid 1px black;
}

button:hover{
    background-color: rgba(255,255,255,0.8);
}

.submit_btn {

    padding: 10px 25px;
    background-color: gold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .05s ease 0s;

}


.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_connections {
    list-style: none;
}

.nav_connections li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_connections li a{
    text-decoration: none;
    transition: all .05s ease 0s;
    color: rgb(255,255,255);
}

.nav_connections li a:hover{
    color: gold;
}

.container_full_screen {
    width: 100%;
    height: 50px;
    margin: 5px auto;
}

.container_50_50{
    width: 100px;
    height: 50px;
    align-items: center;

}
.container_parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_reduced_for_weekly{
    width: 500px;
    height: 50px;
    margin: auto 5px 5px 5px;
    justify-content: center;
    text-align: center;
    border: solid 5px white ;
}

.main_body_for_contest{
    width: 1000px;
    height: 50px;
    margin: auto 5px 5px 5px;
    justify-content: center;
    text-align: center;
    background-color: white;

}

.canvas_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 640px;
    background-color: white;
}

.logo_alignment{
    display: block;
    margin: 20px auto;
}

.background{
    background-image: url("images/joshua-hoehne-YPgTovTiUv4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200vh;
}
